h1 Pummel
p
  ' A different way to look at your
  a href='https://pinboard.in' Pinboard
  '  bookmarks.

input type='input' id='username'
a href='' id='userlink' Display user
javascript:
  window.addEventListener('load', function() {
    document.getElementById('username').addEventListener('input', function() {
      document.getElementById('userlink').href = "/"+this.value;
    }, false);
  }, false);
